* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #fffaf5;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;
    display: inline-block;
    min-width: 130px;
    text-align: center;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
}

.btn--primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn--primary:hover {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
    transition: background-color 0.2s linear, color 0.2s linear;
}

/* Header */
.header.sticky {
    position: sticky;
    top: -12px;
    z-index: 1;
    background-color: #fffaf5;
}

.header__inner {
    padding: 26px 0 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
}

.header-action__link,
.navbar__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    padding: 8px 18px;
}

.header-action__link:hover,
.navbar__link:hover {
    color: #000958;
    text-shadow: 0.5px 0px 0px currentColor;
    transition: color 0.2s linear, text-shadow 0.2s linear;
}

.header-action__btn {
    --height: 50px;
    width: 118px;
    border-radius: 25px;
    text-align: center;
}

.header-action__btn:hover {
    background-color: #000958;
    color: #fff;
    transition: background-color 0.15s linear, color 0.15s linear;
}

/* Hero */
.hero {
    padding-top: 86px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__media {
    width: 551px;
    padding-bottom: 94px;
    position: relative;
}

.hero__img-wrap {
    position: relative;
    width: 388px;
    height: 488px;
    background-color: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor:nth-child(2) {
    left: -58px;
    bottom: 10px;
}

.hero__decor:nth-child(3) {
    right: -40px;
    top: 18px;
}

.hero__img-wrap.thumb {
    position: absolute;
    bottom: 36px;
    right: 0;
    width: 186px;
    height: 244px;
    background: #faa7ad;
    border: 2px solid #fcdde0;
}

.hero__list {
    position: absolute;
    bottom: 0;
    right: 171px;
    width: 250px;
    /* height: 156px; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    padding: 18px 14px;
}

.hero__list > a {
    width: 100%;
}

.hero-list-item {
    display: flex;
    column-gap: 10px;
}

.hero-list-item__thumb {
    border-radius: 10px;
    background: #fec23f;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.hero-list-item__title {
    margin-top: 2px;
    color: #181e52;
    font-family: "Sora", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero__list-separate {
    width: 100%;
    height: 2px;
    border-radius: 99px;
    background: #f2f2f2;
    margin: 20px auto;
}

.hero__list-separate:nth-child(2) + a .hero-list-item__thumb {
    background-color: #c6e2fa;
}

.hero__content {
    width: 517px;
}

.hero__heading {
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    width: 391px;
    margin-top: 24px;
    color: #656689;
    line-height: 1.86;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    column-gap: 24px;
    align-items: center;
}

.hero__cta-btn {
    --height: 60px;
    font-weight: 600;
    min-width: 189px;
    border-radius: 31px;
    color: #fff;
    background-color: var(--primary-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.btn-icon {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-link {
    color: #000958;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
}
