* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

#services {
    scroll-margin-top: 78px;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #fffaf5;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;
    display: inline-block;
    min-width: 130px;
    text-align: center;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
}

.btn--primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn--primary:hover {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.section-heading {
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
}

.section-desc {
    margin-top: 24px;
    color: #656689;
    line-height: 1.88;
}

.section-label {
    color: #5e6085;
    text-align: center;
    font-family: Sora, sans-serif;
    font-weight: 600;
    line-height: 1;
}

/* Header */
.header.sticky {
    position: sticky;
    top: -12px;
    z-index: 2;
    background-color: #fffaf5;
}

.header__inner {
    padding: 26px 0 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
}

.header-action__link,
.navbar__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    padding: 8px 18px;
}

.header-action__link:hover,
.navbar__link:hover {
    color: #000958;
    text-shadow: 0.5px 0px 0px currentColor;
    transition: color 0.2s linear, text-shadow 0.2s linear;
}

.header-action__btn {
    --height: 50px;
    width: 118px;
    border-radius: 25px;
    text-align: center;
}

.header-action__btn:hover {
    background-color: #000958;
    color: #fff;
    transition: background-color 0.15s linear, color 0.15s linear;
}

/* Hero */
.hero {
    padding: 86px 0 38px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__media {
    width: 551px;
    padding-bottom: 94px;
    position: relative;
}

.hero__img-wrap {
    position: relative;
    width: 388px;
    height: 488px;
    background-color: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor:nth-child(2) {
    left: -58px;
    bottom: 10px;
}

.hero__decor:nth-child(3) {
    right: -40px;
    top: 18px;
}

.hero__img-wrap.thumb {
    position: absolute;
    bottom: 36px;
    right: 0;
    width: 186px;
    height: 244px;
    background: #faa7ad;
    border: 2px solid #fcdde0;
}

.hero__list {
    position: absolute;
    bottom: 0;
    right: 171px;
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    padding: 18px 14px;
}

.hero__list > a {
    width: 100%;
}

.hero-list-item {
    display: flex;
    column-gap: 10px;
}

.hero-list-item__thumb {
    border-radius: 10px;
    background: #fec23f;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.hero-list-item__title {
    margin-top: 2px;
    color: #181e52;
    font-family: "Sora", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero__list-separate {
    width: 100%;
    height: 2px;
    border-radius: 99px;
    background: #f2f2f2;
    margin: 20px auto;
    will-change: transform;
}

.hero__list-link:nth-child(3) .hero-list-item__thumb {
    background-color: #c6e2fa;
}

.hero__content {
    width: 517px;
}

.hero__heading {
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    width: 391px;
    margin-top: 24px;
    color: #656689;
    line-height: 1.86;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    column-gap: 24px;
    align-items: center;
}

.hero__cta-btn {
    --height: 60px;
    font-weight: 600;
    min-width: 189px;
    border-radius: 31px;
    color: #fff;
    background-color: var(--primary-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.btn-icon {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.hero__cta-link {
    color: #000958;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
}
/* About */
.about {
    padding-top: 100px;
}

.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 146px;
    padding-bottom: 185px;
}

.about__media {
    position: relative;
}

.about__label {
    text-align: left;
}

.about__heading {
    margin-top: 15px;
    max-width: 446px;
}

.about__desc {
    max-width: 431px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #ff5d31;
    border-radius: 4px;
    box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__check-item::after {
    content: url(../icons/Check.svg);
    position: absolute;
    top: 4px;
    left: 3px;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    padding: 31px 26px 29px;
    text-align: center;
    z-index: 1;
}
.about__card-title {
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}
.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    line-height: 1.43;
}
.about__card-decor {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__img-wrap {
    width: 494px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.about__img-wrap::after {
    position: absolute;
    content: "";
    inset: auto 0 0 0;
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
    z-index: -1;
}

.about__img {
    width: 450px;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap-bottom {
    width: 458px;
    margin: 0 auto 0 0;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    justify-content: flex-start;
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__media-bottom-decor {
    position: absolute;
}

.about__media-bottom-decor:nth-child(2) {
    inset: 12px 64px auto auto;
}

.about__media-bottom-decor:nth-child(3) {
    inset: 33px -21px auto auto;
}

.about__media-bottom-decor:nth-child(4) {
    inset: -16px 13px auto auto;
}

.about__media-bottom-decor:nth-child(5) {
    inset: auto -33px 206px auto;
}

.about__media-bottom-decor:nth-child(6) {
    inset: auto 19px 150px auto;
}

.about__media-bottom-decor:nth-child(7) {
    inset: auto -42px -54px auto;
}

.about__heading-bottom,
.about__desc-bottom {
    max-width: 512px;
}

.tab {
    margin-top: 52px;
}

.tab__list {
    display: inline-flex;
    column-gap: 56px;
    position: relative;
}

.tab__item {
    padding-bottom: 10px;
}

.tab__item.active {
    position: relative;
    left: 0;
}

.tab__item.active::after,
.tab__list::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    height: 2px;
    opacity: 0.07;
    background: #ff5b2e;
    border-radius: 2px;
}

.tab__item.active::after {
    opacity: 1;
    width: 95px;
}

.tab__item {
    display: flex;
    align-items: center;
}

.tab__title {
    color: #48496a;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__icon {
    position: relative;
}

.tab__item:first-child .tab__icon {
    left: -7px;
}

.tab__item:first-child .tab__title {
    margin-left: -4px;
}

.tab__item:nth-child(2) .tab__icon {
    top: 4px;
    left: -6px;
}

.tab__item:nth-child(2) .tab__title {
    margin-left: 4px;
}

.tab__item:nth-child(3) .tab__icon {
    top: -3px;
}

.tab__item:nth-child(3) .tab__title {
    margin-left: 6px;
}

.tab__contents {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
}

.tab__content-item.active {
    display: block;
    width: 391px;
}

.tab__content-more {
    position: relative;
    margin-top: 32px;
    color: #ff5d31;
    font-weight: 500;
    line-height: 1;
}

.tab__content-more::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    content: "";
    display: inline-block;
    width: 100%;
    height: 1.5px;
    border-radius: 2px;
    background: currentColor;
}

/* Services */
.services {
    padding: 68px 0 100px;
    background: #fff6ed;
}

.services__heading {
    text-align: center;
    margin-top: 15px;
}

.services__content {
    margin-top: 71px;
    display: flex;
    column-gap: 71px;
}

.services__list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.services__item {
    padding: 30px 28px;
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.services__item-heading {
    position: relative;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    padding-left: 13px;
}

.services__item-heading::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 2px;
    border-radius: 2px;
    background-image: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.services__item-desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
}

.services__item-more {
    margin-top: 24px;
    color: #34396a;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
}

.services__item-more::after {
    content: url(../icons/ArrowUpRight.svg);
}

.services__media-wrap {
    text-align: center;
}

.services__media {
    width: 440px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin-top: -40px;
}

.services__media::after {
    content: "";
    display: block;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services__media-img {
    position: absolute;
    width: 100%;
}

.services__btn {
    min-width: 214px;
    margin-top: 45px;
    border-radius: 31px;
}
